<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos</title>
    <link rel="stylesheet" href="/estilos.css">
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<body>
    <section>
        <form action="/contato" method="post">
        <div>
            <h1 class="titulo">Contatos</h1>
        </div>
        <div>
            <label for="email">Email:</label><br>
            <input type="email" name="email">
        </div>
        <div>
            <label for="mensagem">Mensagem:</label><br>
            <textarea name="mensagem" cols="30" rows="3"></textarea>
        </div>
        <div class="bt">
            <button type="submit">Enviar</button>
            <button type="reset">Limpar Formulário</button>
        </div>
    </form>
    </section>
</body>
</html>