<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/estilos.css">
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<body>
    <section>
        <div>
        <h1 class="titulo">Home</h1>
        </div>
        <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta vero sunt illo Soluta unt il Soluta vero sunt ilrerum veritatis voluptates accusamus quam provident omnis veniam, natus alias optio fugit magnam a deleniti officia cum ipsa?</p>
        </div>
        <ul>
            <li> <a href="/sobre-mim">Sobre</a></li>
            <li> <a href="/projetos">Projetos</a></li>
            <li> <a href="/contato">Contatos</a></li>
        </ul>
    </section>
</body>
</html>