<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Olá, bem vindo ao meu portfólio</h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta vero sunt illo rerum veritatis voluptates accusamus quam provident omnis veniam, natus alias optio fugit magnam a deleniti officia cum ipsa?
    <ul>
        <li> <a href="/sobre-mim">Sobre Mim</a></li>
        <li> <a href="/projetos">Meus Projetos</a></li>
        <li> <a href="/contato">Entre em Contato</a></li>
    </ul>
</body>
</html>