<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projetos</title>
    <link rel="stylesheet" href="/estilos.css">
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<body>
    <section>
        <div>
        <h1 class="titulo">Projetos</h1>
        </div>
        <div class="projetos">
            <div class="proj">
                <h2>proj01</h2>
                <p>Lorem dolor ipsum dolor sit amepisicin dolor.</p>
            </div>
            <div class="proj">
                <h2>proj02</h2>
                <p>Lorem dolor ipsum dolor dolor.</p>
            </div>
            <div class="proj">
                <h2>proj03</h2>
                <p>Lorem ipsum dolor sit dolor isicin dolor.</p>
            </div>
        </div>
        <ul>
            <li> <a href="/">Home</a></li>
            <li> <a href="/sobre-mim">Sobre</a></li>
            <li> <a href="/contato">Contatos</a></li>
        </ul>
    </section>
</body>
</html>