<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Mim</title>
</head>
<body>
    <h1>Sobre Mim</h1>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab exercitationem deleniti eaque odio consequatur voluptates officiis iusto eligendi velit facere! Id voluptatum deserunt officiis porro fugiat tempora optio! Vero, accusamus.
    <br><br>
    <div>
    <a href="/contato"><button>Entrar em Contato</button></a>
    <a href="/"><button >Voltar</button></a>
    </div>
</body>
</html>