<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Mim</title>
    <link rel="stylesheet" href="/estilos.css">
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<body>
   <section>
        <div>
        <h1 class="titulo">Sobre</h1>
        </div>
        <div>
        <p>Lorem ipsum, dolor sit amet consectetur  amet consectet  amet consectet adiationem deleniti eaque odio consequatur voluptates officiis iusto eligendi velit facere! Id voluptatum deserunt officiis porro.</p>
        </div>
        <div>
        <ul>
            <li><a href="/contato">Contatos</a></li>
            <li><a href="/">Voltar</a></li>
        </ul>
        </div>
   </section>
</body>
</html>